.heading {
  font-size: 30px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-style: italic;
}
body {
  background-color: #f2dfb8;
}
.options {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
select {
  width: 300px;
  font-size: 22px;
  height: 40px;
}

.news {
  /* border: 2px solid black; */
  width: 90%;
  /* height: 400px; */
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
li {
  width: 40%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  /* border: 2px solid black; */
}
.newsImage {
  width: 100%;
  height: 100%;
}
.box {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  height: 100%;
  /* border: 2px solid green; */
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}
.error-message {
  color: red;
  text-align: center;
  margin-top: 100px;
  display: none;
}
